@font-face {
  font-family: 'Baloo Bhai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Bhai Regular'), local('BalooBhai-Regular'), url(https://fonts.gstatic.com/s/baloobhai/v5/ZgNWjP5GM7bCUdmXgWyVvGLONw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: 'Baloo Bhai', sans-serif;
  padding: 16px 0;
  color: #014A73;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.4;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.4rem;
}
a,
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
img {
  max-width: 100%;
  height: auto;
}
.content-wrapper {
  width: 95%;
  margin: auto;
}
@media (min-width: 501px) {
  .content-wrapper {
    width: 90%;
  }
}
@media (min-width: 801px) {
  .content-wrapper {
    width: 80%;
  }
}
nav {
  padding: 8px 16px;
}
nav .topnav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
nav .topnav li a {
  color: #A6A6A6;
  text-decoration: none;
  display: block;
}
nav .topnav li a:hover {
  color: #014A73;
}
@media (min-width: 801px) {
  nav .topnav li {
    padding: 15px 10px;
  }
}
@media (min-width: 501px) {
  nav .topnav .logo {
    flex: 1;
  }
}
@media (min-width: 801px) {
  nav .topnav .logo {
    order: 0;
  }
}
nav .topnav .logo a {
  font-family: 'Baloo Bhai', sans-serif;
  font-size: 3rem;
  color: #014A73;
}
nav .topnav .toggle {
  order: 1;
  margin-left: 16px;
  cursor: pointer;
}
nav .topnav .toggle .fas.fa-bars {
  font-size: 2rem;
}
@media (min-width: 501px) {
  nav .topnav .toggle {
    order: 2;
  }
}
@media (min-width: 801px) {
  nav .topnav .toggle {
    display: none;
  }
}
nav .topnav .item.button {
  order: 2;
}
@media (min-width: 501px) {
  nav .topnav .item.button {
    width: auto;
    order: 1;
    display: block;
  }
}
@media (min-width: 501px) {
  nav .topnav .button a {
    padding: 7px 15px;
    color: #111121;
    background-color: #FF974C;
    border-radius: 8px;
  }
  nav .topnav .button a:hover {
    transition: background-color 0.4s;
    background-color: #E58844;
    color: #111121;
  }
}
nav .topnav .item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
@media (min-width: 801px) {
  nav .topnav .item {
    display: block;
    width: auto;
    order: 1;
  }
}
nav .topnav .item.active {
  display: block;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 501px) {
  .links {
    flex-direction: row;
    justify-content: center;
  }
}
.links a {
  color: #A6A6A6;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px 20px;
}
.links a:hover {
  color: #014A73;
}
.social {
  display: flex;
  justify-content: center;
}
.social .fab {
  font-size: 2em;
  color: #A6A6A6;
  padding: 20px;
}
.social .fab:hover {
  transition: color 0.4s;
  color: #014A73;
}
address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #A6A6A6;
}
address p {
  font-size: 1.4rem;
}
@media (min-width: 801px) {
  address {
    flex-direction: row;
  }
  address p {
    padding: 0 32px;
    margin: 8px 0;
  }
  address p:not(:last-child) {
    border-right: solid 1px #A6A6A6;
  }
}
.copyright {
  font-size: 1.2rem;
  text-align: center;
  color: #A6A6A6;
  margin: 12px 0;
}
.bottom-cta {
  background: #014A73;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}
.bottom-cta h2 {
  color: #FFFFFF;
  text-align: center;
  margin-top: 48px;
  width: 90%;
}
@media (min-width: 801px) {
  .bottom-cta h2 {
    margin-top: 72px;
  }
}
.bottom-cta .button {
  border-radius: 8px;
  padding: 8px 20px;
  background-color: #FF974C;
  color: #111121;
  font-size: 2rem;
  text-decoration: none;
  margin: 48px 0;
}
.bottom-cta .button:hover {
  transition: background-color 0.4s;
  background-color: #E58844;
}
@media (min-width: 801px) {
  .bottom-cta .button {
    margin: 48px 0 72px;
  }
}
.hero-image {
  background: linear-gradient(112.14deg, #014A73 -11.7%, rgba(255, 255, 255, 0) 174.44%), url("https://images.unsplash.com/photo-1494859802809-d069c3b71a8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
@media (min-width: 801px) {
  .hero-image {
    height: 55vh;
  }
}
.hero-image .hero-text {
  position: absolute;
  top: 30%;
  margin-left: 5%;
}
@media (min-width: 801px) {
  .hero-image .hero-text {
    margin-left: 10%;
  }
}
.hero-image .hero-text h1 {
  font-size: 3.6rem;
  color: #FFFFFF;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 12px;
}
@media (min-width: 501px) {
  .hero-image .hero-text h1 {
    font-size: 4.8rem;
  }
}
@media (min-width: 801px) {
  .hero-image .hero-text h1 {
    font-size: 6.4rem;
  }
}
.hero-image .hero-text .button {
  border-radius: 8px;
  padding: 8px 20px;
  background-color: #FF974C;
  color: #111121;
  font-size: 1.8rem;
  text-decoration: none;
  margin-right: 16px;
}
.hero-image .hero-text .button:hover {
  transition: background-color 0.4s;
  background-color: #E58844;
}
.intro {
  margin: 40px 0;
}
.intro .main {
  display: flex;
  flex-direction: column;
}
@media (min-width: 801px) {
  .intro .main {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 801px) {
  .intro .main .main-text {
    width: 48%;
  }
}
@media (min-width: 801px) {
  .intro .main .main-img {
    width: 48%;
    height: auto;
  }
}
.intro h3 {
  font-size: 2rem;
  text-align: center;
  margin-top: 16px;
}
@media (min-width: 501px) {
  .intro h3 {
    font-size: 2.4rem;
  }
}
.how-it-works {
  background-color: #EAF5FF;
  padding: 20px 0 48px;
}
.how-it-works h2 {
  text-align: center;
}
.how-it-works .explainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 95%;
}
@media (min-width: 501px) {
  .how-it-works .explainer {
    width: 90%;
  }
}
@media (min-width: 801px) {
  .how-it-works .explainer {
    flex-direction: row;
    width: 80%;
  }
}
.how-it-works .explainer .explainer-step {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 12px;
}
@media (min-width: 801px) {
  .how-it-works .explainer .explainer-step {
    flex-direction: column;
    align-items: flex-start;
  }
}
.how-it-works .explainer .explainer-step p {
  font-size: 1.4rem;
  margin: 0 16px;
}
.how-it-works .explainer .explainer-step img {
  width: 40px;
}
@media (min-width: 801px) {
  .how-it-works .explainer .explainer-step img {
    margin: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #111121;
  }
}
